{% extends 'base.html' %}
{% block title %}Change Password {% endblock title %}
{% load crispy_forms_tags %}
{% block content %}

        <div class="container" style="padding-top: 50px;">
            <div class="row">
                <div class="col">
                    <div class="card shadow  mb-5 bg-white rounded">
                        <div class="card-body ">
                            <div class="container w-50">
                                <form method="post" class="form-group"> {% csrf_token %}
                                    <h1 class="text-center  text-primary" style="padding-top: 20px;"> <i class="fa fa-exchange" aria-hidden="true"></i> Change Password  </h1>
                                    <div class="form-group" style="padding-top: 20px;">
                                        <label>Old password
                                            <span class="asteriskField">*</span>
                                        </label> <div class="">
                                         <input type="text" name="old_password" maxlength="100" class="textinput textInput form-control" required id="id_old_password">
                                    </div>
                                    <div class="form-group" style="padding-top: 20px;">
                                        <label>   
                                        New password1
                                        <span class="asteriskField">*</span>
                                     </label>
                                      <input type="text" name="new_password1" maxlength="100" class="textinput textInput form-control " required id="id_new_password1">
                                    </div>
                                    <div class="form-group" >
                                        <label>New password2
                                              <span class="asteriskField">*</span>
                                        </label>  
                                        <input type="text" name="new_password2" maxlength="100" class="textinput textInput form-control" required id="id_new_password2"> 
                                        <small id="hint_id_password1" class="form-text text-muted">
                                            <ul>
                                                <li>Your password can&#39;t be a commonly used password.</li>
                                                <li>Your password can&#39;t be entirely numeric.</li>
                                                <li>Your password can&#39;t be too similar to your other personal information.</li>
                                                <li>Your password must contain at least 8 characters.</li>
            
                                            </ul>
                                        </small>
                                    </div>
                                    <div class="text-center">
                                        <button href="" type="submit" class="btn  btn-primary">  Change <i class="fa fa-hand-o-right" aria-hidden="true"></i> </button>
                                    </div>
                                </form>
                            </div>
    
                        </div>
                    </div>
                </div>   
            </div>
        </div>
    

{% endblock %}
